@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
[iconify] {
    background-color: currentColor;
    -webkit-mask-size: cover;
    mask-size: cover;
    min-width: 0.5rem;
    min-height: 0.5rem;
  }

@layer utilities {
  .selected {
    @apply bg-selected dark:bg-selected-dark text-white dark:text-secondary-dark;
  }
  .selected-0 {
    @apply bg-transparent ;
  }
}